body {
    background-color: black;
    color: blue;
    font-size: 48px;
    transform: skew(-15deg);
    transform: translate(200px, 20%);
    transform: rotate(45deg);
    transform: scale(0.7);

}

div {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    animation: colors 3s linear 0s normal running;
    animation: rotate 3s linear 1s  3 normal running;
}

p:hover{
    background-color:red;
    color:salmon;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
