body {
    background-color: black;
    color: blue;
    font-size: 48px;
    transform: skew(-15deg);
    transform: translate(200px, 20%);
    transform: rotate(45deg);
}

div {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    animation: colors 3s linear 0s normal running;
}

p:hover{
    background-color:red;
    color:green;
}
@keyframes colors{
    0%{
        background-color: red;
        transform:skew(-10deg, -15deg) scale(0.8) trnaslate(100px, 20%); 
        
    }
    100%{
        background-color: royalblue;
        transform:skew(-15deg, -15deg) scale(0.7) trnaslate(200px, 20%);
    }
}