style.css

/* @font-face {
    font-family: 'monde';
    src: url(assets/monde-regular.otf);
} */

body {
    background-color: green;
    font-family: 'monde', sans-serif;
}

h1 {
    font-weight: 700;
}

p {
    font-family: 'Times New Roman', Times, serif;
}